* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}


.container{
    display: flex;
    justify-content: space-between ;
    max-width: 60vw;
    gap:2em;
    margin: 14em auto;
    align-content: center;
}


html{
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

h2{
    font-family: Georgia, serif;
    line-height: 1.2;
    font-weight: normal;
    padding-bottom: 1em;
}

